@font-face {
    font-family: "Concert One";
    src        : url("/fuentes/Concert_One/ConcertOne-Regular.ttf");
}

@font-face {
    font-family: "Work Sans";
    src        : url("/fuentes/Work_Sans/WorkSans-Regular.ttf");
}

@font-face {
    font-family: "Work Sans Bold";
    src: url("/fuentes/Work_Sans/WorkSans-Bold.ttf");
}

:root {
    --color-de-fondo           : rgb(63, 63, 63);
    --color-de-letras          : hsl(186, 100%, 75%);
    --default-space            : 32px;
    --fondo-oscuro-transparente: hsla(0, 0%, 0%, 0.5);
    --fondo-semitransparente   : hsla(186, 100%, 50%, 0.1);
    --link-visitado            : hsl(186, 100%, 40%);
    --sombra-de-letras         : hsla(186, 100%, 75%, 0.5);
}

@keyframes crece {
    from {
        transform: scale(0, 0.);
    }
    from {
        background-color: var(--color-de-letras);
        transform       : scale(0.01, 0.01);
    }
    50% {
        background-color: var(--color-de-letras);
        transform       : scale(1, 0.01);
    }
    to {
        background-color: var(--fondo-semitransparente);
        transform       : scale(1, 1);
    }
}

@keyframes disminuye {
    from {
        background-color: var(--fondo-semitransparente);
        transform       : scale(1, 1);
    }
    50% {
        background-color: var(--color-de-letras);
        transform       : scale(1, 0.01);
    }
    99% {
        transform: scale(0.01, 0.01);
    }
    to {
        background-color: var(--color-de-letras);
        transform       : scale(0, 0);
    }
}

* {
    box-sizing: border-box;
}

/* from https://css-tricks.com/custom-scrollbars-in-webkit/ */
::-webkit-scrollbar {
    width: calc(1rem / 2);
}
::-webkit-scrollbar-track        {
    border-left: solid thin var(--color-de-letras); 
}
::-webkit-scrollbar-thumb        {
    background-color: var(--color-de-letras);
}

html, body, iframe {
    font-size: 16px;
    height   : 100%;
    margin   : 0;
    padding  : 0;
    width    : 100%;
}

body {
    background-color: var(--color-de-fondo);
    overflow        : hidden;
}

/*.grid-guide {
    background-image   : radial-gradient(hsl(0, 0%, 100%) calc(1rem / 16), hsla(0, 0%, 0%, 0) 0);
    background-position: 1rem 1rem;
    background-size    : 2rem 2rem;
}*/

ul {
    line-height : 2rem;
    list-style  : none;
    margin      : 2rem 0;
    padding-left: 0.5rem;
}

@media(min-width: 450px) {
    ul {
        padding-left: 2rem;
    }
}

li {
    font-family : "Work Sans";
    line-height : 2rem;
    padding-left: 0.5rem;
}

@media(min-width: 450px) {
    li {
        padding-left: 2rem;
    }
}

li:hover {
    background-color: var(--color-de-letras);
}

li:hover > a,
li:hover > a:visited,
li:hover > p {
    color: var(--fondo-oscuro-transparente);
}

li > p {
    height      : 1rem;
    line-height : 1rem;
    margin      : 0;
    padding-left: 2rem;
}

strong { 
    font-family: "Concert One";
    font-size  : 1.25rem;
    font-weight: normal;
    height     : 1rem;
}

section {
    background-color: var(--fondo-semitransparente);
    border          : solid thin var(--color-de-letras);
    bottom          : 2rem;
    color           : var(--color-de-letras);
    left            : 0;
    margin-left: 0;
    margin-top      : 2rem;
    overflow-x      : hidden;
    overflow-y      : auto;
    top             : 0;
    transform-origin: top center;
    width: 100%;
}

@media(min-width: 700px) {
    section {
        width: 70%;
        margin-left: 2rem;
    }
}

section > * {
    opacity   : 0;
    transition: opacity 0.2s 0.6s cubic-bezier(0.55, 0.09, 0.68, 0.53);
}

.grow-animation {
    animation: crece 0.6s cubic-bezier(0.55, 0.09, 0.68, 0.53) forwards;
}

.shrink-animation {
    animation: disminuye 0.6s cubic-bezier(0.55, 0.09, 0.68, 0.53) forwards;
}

.grow-animation > * {
    opacity: 1;
}

input {
    background-color: transparent;
    border          : none;
    border-bottom   : solid var(--color-de-letras);
    color           : inherit;
    outline         : none;
}

aside {
    background-color: var(--fondo-semitransparente);
    border          : solid thin var(--color-de-letras); 
    display         : flex;
    flex-direction  : column;
    max-width       : 14rem;
    min-width       : 4rem;
    right           : 2rem;
    top             : 2rem;
    transform-origin: top center;
    transition      : width 0.3s ease-in;
}

#CloseEbook,
#EndEbook,
#CategorizeEbook,
#RankEbook,
#RankList > button,
#AddEbook,
#AddNote,
#Notes,
#ImportEbook {
    background-color: transparent;
    border          : none;
    color           : var(--color-de-letras);
    cursor          : pointer;
    font-size       : 2rem;
    height          : 4rem;
    margin          : 0px;
    padding         : 0px;
    position        : relative;
    vertical-align  : middle;
    width           : 100%;
}

#RankList > button {
    display: block;
}

#CloseEbook:hover,
#EndEbook:hover,
#CategorizeEbook:hover,
#RankEbook:hover,
#RankList:hover > button,
#AddEbook:hover,
#CategoriaEbook:hover,
#AddNote:hover,
#Notes:hover {
    background-color: var(--fondo-oscuro-transparente);
}

button > span {
    display    : block;
    font-size  : 0.6rem;
    font-weight: bold;
    margin-top : -0.4rem;
}

#BuscarEbook,
#CategoriaEbook,
nav {
    font-size   : inherit;
    height      : 2rem;
    line-height : 2rem;
    margin-top  : 2rem;
    margin-left : 2rem;
    padding-left: 2rem;
    width       : 80%;
}

#BuscarEbook,
nav {
    margin-left : 0.5rem;
    padding-left: 0.5rem;
    width: calc(100% - 1rem);
}

@media(min-width: 450px) {
    #BuscarEbook {
        margin-left : 2rem;
        padding-left: 2rem;
        width       : 80%;
    }
}

nav > button#ImportEbook {
    width: 3rem;
}

#CategoriaEbook {
    height: 4rem;
    margin: 0;
    width : 100%;
}

#ImportEbook.subiendo::after {
    background-color: var(--color-de-letras);
    border-radius   : 50%;
    bottom          : 1rem;
    color           : var(--fondo-oscuro-transparente);
    content         : attr( data-ebooks );
    display         : block;
    font-size       : 1rem;
    font-weight     : bold;
    height          : 1rem;
    line-height     : 1rem;
    position        : absolute;
    right           : 0;
    width           : 1rem;
}

a {
    background         : linear-gradient(currentColor, currentColor) no-repeat;
    background-position: 0 1.15rem;
    background-size    : 100% 1px;
    color              : var(--color-de-letras);
    text-decoration    : none;
    text-overflow      : ellipsis;
    text-rendering     : optimizeLegibility;
    text-shadow        : 0.05rem var(--fondo-oscuro-transparente), -0.05rem var(--fondo-oscuro-transparente);
}

a:visited {
    color: var(--link-visitado);
}

strong > a {
    background-position: 0 1.45rem;
}

.absolute {
    position: absolute;
}

.invisible {
    display: none;
}

#Notes {
    cursor   : text;
    font-size: 1rem;
    height   : 10rem;
    padding  : 1rem;
}

svg {
    fill           : none;
    stroke         : var(--color-de-letras);
    stroke-linejoin: round;
    stroke-width   : 4;
    width          : 3rem;
}

svg .lineas {
    pointer-events: none;
}

svg .lineas line {
    opacity   : 0;
    transition: opacity 1s;
}

button:hover > svg#AddNoteSvg .lineas line {
    opacity   : 1;
    transition: opacity 1s;
}

svg .lineas line:nth-child(2) {
    transition-delay: 0.3s; 
}

svg .lineas line:nth-child(3) {
    transition-delay: 0.6s; 
}

svg .cuadro-relleno {
    fill  : var(--color-de-letras);
    stroke: none;
}

svg .triangulo {
    stroke-width: 2;
}

#RankEbook > svg,
#RankList > button > svg {
    stroke-width: 2;
    width  : 2rem;
    stroke-linejoin: miter;
    transition: fill 0.3s ease-in;
    fill: transparent;
}

#RankEbook:hover > svg,
#RankList > button:hover > svg {
    fill: var(--color-de-letras);
    transition: fill 0.3s ease-out;
}